#sider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 10px;
}

#sider > input {
    overflow: visible;
    border-radius: 10px;
    border: 1px;
    font-size: 10pt;
    background-image: url('https://kr.object.ncloudstorage.com/ncp3/ncp3/search-icon_i5dy7o.png');
    background-repeat: no-repeat;
    height: 55px;
    padding-left: 68px;
    background-position: left;
    background-size: 31px;
    background-position-x: 17px;
    background-color: rgba(200, 200, 200, 0.3);
}