.mainfont {
  font-size: 28px;
  font-weight: 3\400;
  margin-top: 16px;
}
.mainsubfont {
  font-size: 16px;
  color: rgb(251, 162, 103);
}
.redfont {
  color: rgb(251, 162, 103);
}
.imgbtn {
  border: none;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  position: relative;
}
.imge {
  width: 200px;
  height: 200px;
}
.imginput {
  display: none;
}
.imgfont {
  color: rgb(73, 163, 253);
  font-size: 14px;
}
.rowinterval {
  padding: 10px 0px;
}
.titleinput {
  width: 100%;
  height: 45px;
}
.priceinput {
  width: auto;
  height: 45px;
}
.cateselect {
  width: auto;
  height: 45px;
}
.cityinput {
  width: auto;
  height: 45px;
}
.displaygrid{
  display:block;

}
.imgwrapper{
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width:200px;
  height: 200px;
}
.closebtn{
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* .closebtnwrapper{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
} */
/* .closebtn{
  position: absolute;
  left: 200px;
} */