.mainfont {
  font-size: 28px;
  font-weight: 3\400;
  margin-top: 16px;
}
.mainsubfont {
  font-size: 16px;
  color: rgb(251, 162, 103);
}
.redfont {
  color: rgb(251, 162, 103);
}
.imgbtn {
  border: none;
  padding: 0;
  margin-right: 10px;
}
.imge {
  margin-right: 10px;
  width: 200px;
  height: 200px;
}
.imginput {
  display: none;
}
.imgfont {
  color: rgb(73, 163, 253);
  font-size: 14px;
}
.rowinterval {
  padding: 10px 0px;
}
.titleinput {
  width: 100%;
  height: 45px;
}
.priceinput {
  width: auto;
  height: 45px;
}
.cateselect {
  width: auto;
  height: 45px;
}
.cityinput {
  width: auto;
  height: 45px;
}
