.chat-connections {
    /* 기존 스타일 */
    overflow-y: auto; /* 또는 scroll */
    max-height: 100px; /* 또는 원하는 값 */
}

article img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}

.chat-selected-header {
    border-bottom: 1px solid #8080804a;
    padding: 4px 25px;
    margin: auto;
}

.me {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0px;
}

.me .message {
    text-align: left;
    width: fit-content;
    max-width: 50%;
    font-size: 9pt;
    background: #FF7E36;
    padding: 10px;
    border-radius: 20px;
    color: white;
    white-space: pre-wrap;
    display: inline-block;
    overflow-wrap: break-word;
}

.not-me {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0px;
}

.not-me .message {
    width: fit-content;
    max-width: 50%;
    font-size: 9pt;
    background: #F2F3F7;
    padding: 10px;
    border-radius: 20px;
    white-space: pre-wrap;
    display: inline-block;
    overflow-wrap: break-word;
}

.chat-selected-footer textarea {
    height: 40px;
    resize: none;
}

.form-control{
    width: 150px;
}

.chat-selected-body {
    overflow-y: auto;
    height: 550px; /* 스크롤이 보일 최대 높이 */
    background-repeat: no-repeat;
    background-position: center;
    background-size:20%;
}

.chat-selected-body::-webkit-scrollbar { /* 스크롤 숨김 */
    background-color: transparent;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BeSend_chat_button { /* 보내기 버튼 */
    background-color: transparent;
    text-align: center;
    border-radius: 20px !important;
}


.plusToX{ /* 업로드 버튼 */
    cursor:pointer;
    border-radius: 20px;
}

.plusToX:hover {
    background-color: #e2e6ea;
}

.me .timestamp{ /* 채팅 보낸 시간 표시 */
    font-size: 0.7em;
    color: #aaa;

}

.not-me .timestamp{
    font-size: 0.7em;
    color: #aaa;
}
