article img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}

.chat-selected-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8080804a;
    padding: 4px 25px;
    margin: auto;
}

.me {
    text-align: right;
    margin: 15px 0px;
}

.me .message {
    text-align: right;
    width: fit-content;
    max-width: 50%;
    font-size: 9pt;
    background: #5d5d5d;
    padding: 10px;
    border-radius: 20px;
    color: white;
    white-space: pre-wrap;
    display: inline-block;
}

.not-me {
    text-align: left;
    margin: 15px 0px;
}

.not-me .message {
    text-align: left;
    width: fit-content;
    max-width: 50%;
    font-size: 9pt;
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #8080804a;
    white-space: pre-wrap;
    display: inline-block;
}

.chat-selected-footer textarea {
    height: 65px;
    resize: none;
}

.chat-selected-body {
    overflow-y: auto;
    height: 550px; /* 스크롤이 보일 최대 높이 */
    /* background-image: url('https://veiled-jay-0c2.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9e0b0bbd-b7f7-4a2d-9ed8-dfe08f72c35f%2F1e917e59f980468a78f2bff7dcc25ac2f604e7b0e6900f9ac53a43965300eb9a.png?id=653f7765-1ec3-485c-8d54-2af4e2b0e6aa&table=block&spaceId=5989bf22-29e0-4423-b8aa-9d2d5f3b5c6b&width=420&userId=&cache=v2'); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 20%; */
}

/* .chat-selected-body button {
} */

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
   .dropdown-button {
    border: none;
    cursor: pointer;
    background-color: white;
    }

  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    border-radius: 10px;
    background-color: #ffb091;
    color: #ffffff;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content button {
    width: 100%;
    border: 1px solid transparent;
    background-color: #ffb091;
    border-radius: 10px;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
  }

  .dropdown-content button:hover{
    font-size: 15px;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #ff7e36;
    text-align: center;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .out{
    border: none;
    cursor: pointer;
    background-color: white;
  }
  