#cardAdmin-wrap{
    text-align:center;
}

.cardAdmin {
    margin-bottom: 15%;
}
.cardAdmin {
    width:300px;

}
.cardAdmin-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .cardAdmin-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 최대 표시할 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .AdminCardRow{
    min-width:1400px;
  }

  .AdminCardCol{
  }