.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    /* 필요한 스타일을 추가로 설정하세요 */
  }


.dropdown-item svg {
    margin-bottom: 2px;
    margin-right: 7px;
}

#addButton svg {
    margin-bottom: -5px;
    margin-right: -3px;
    font-size: 23pt;
}

#nav-sign-up {
    padding: 10px;
    border: none;
    background-color: #f8f9fa;
}

#addButton {
    padding: 7px;
}

.navbar-nav .dropdown {
    top: 3px;
}

#nav-sign-in {
    color: white;
    padding: 10px;
    background: #FF7E36;
    border-radius: 5px;
    border : none;
}

#nav-sign-in:hover{
    background-color: #FF9F40;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle svg {
    font-size: 24pt;
}

.navbar-nav svg {
    color: black;
    font-size: 14pt;
}

#collasible-nav-dropdown svg {
    font-size: 24pt;
}

.dropleft .dropdown-toggle::before {
    display: none;
}

.navbar-brand a {
    font-family: baemin;
    font-weight: bold;
    
    font-size: 20pt;
}

.dropdown-item.active, .dropdown-item:focus, .dropdown-item.active svg {
    color: white;
    background-color: #343a40;
}
#navImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100px;
    border: 1px solid black;
}

.bell{
    /* display:block; */
    width: 16px;
    height: 16px;
    font-size: 40px;
    color: #9e9e9e;
    -webkit-animation: ring 10s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 10s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 10s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
  }
  
  @-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }
  
    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
  }
  
  @-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }
  
    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
  }
  
  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }

  .notiNumber{
    border-radius: 100px;
    border : 2px solid white;
    background-color: crimson;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 14px;
    font-size: 11px;
    font-weight: bold;

  }

  .nav-wrapper {
    position: relative;
  }

  .notificationIcon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }